body {
    margin: 0;
    font-family: system-ui;
    background: #0f172a;
    color: white;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background: #020617;
}

nav a {
    margin-left: 20px;
    color: white;
    text-decoration: none;
}

.hero {
    text-align: center;
    padding: 100px 20px;
}

section {
    padding: 60px 20px;
}

.project, .event {
    background: #1e293b;
    padding: 20px;
    margin-top: 20px;
    border-radius: 10px;
}